*{
    margin: 0;
    padding: 0;
}

form{
    color: rgb(0, 0, 0);
    background-color: rgba(255, 187, 0, 0.384);
    width: 500px;
    height: 530px;
    transform: translate(-50%,-50%);
    top: 60%;
    left: 52%;
    position: absolute;
}

h2{
    text-align: center;
    padding: 25px;

}

input{
    background: transparent;
    border: none;
    border-bottom: 1px solid rgb(0, 0, 0);
    margin-left: 20px;
    font-size: 26px;
    margin-bottom: 40px;
    color: rgb(0, 0, 0);
    outline: none;

}

button{
    margin-top: 15px;
    margin-left: 20px;
    height: 40px;
    width: 85%;
    background-color: rgb(255, 174, 0);
    color: rgb(255, 1, 1);
    border-bottom: none;
    outline: none;
    font-size: 1.5vw;

}

button:hover{
    background-color: rgb(199, 0, 0);
    color: rgb(255, 255, 255);
}

body{
    min-height: 100vh;
    display: flex;
    align-items: top;
    justify-content: center;
    background-position: top;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url(../img/assets/k.png);
    
}

header{
    width: 100%;
    height: 100px;
    background: var(--k);
}

:root{
  /*renk degiskenleri*/
  --text-wheat: #f1d6a3;
  --text-yellow: #ffff00;
  --text-red: #680013;
  --text-darkred: #640103;
  --text-darkyellow: #eebc34;
  
   
  /*gradyan degiskenleri*/

  --knime: linear-gradient(to top, #ffff00 0%, #fff 100%);
  --k: rgb(251,232,63);
  --k: radial-gradient(circle, rgba(251,232,63,0) 34%, rgba(252,226,70,1) 100%);
  --s: rgb(255,6,6);
  --s: linear-gradient(90deg, rgba(255,6,6,0.7693452380952381) 0%, rgba(249,190,0,0.9514180672268907) 22%, rgba(233,252,69,0.1923144257703081) 74%);
}

h1{
    position: absolute;
    padding: 3px;
    float: left;
    margin-left: 2%;
    color: var(--text-darkred);
    margin-top: 15px;
}

span{
   color: var(--text-darkyellow); 
}

ul{
    width: auto;
    float: right;
    margin-top: 15px;
    margin-right: 15px;
}

a{
    text-align: center;
    color: var(--text-darkred);
    text-decoration: none;
    font-size: 2vw;
}



